<html ng-app="myApp">
<head>
<title>Form Handling</title>
<style>
	.uname.ng-valid {
		background-color: green;
	}
	
	.uname.ng-dirty.ng-invalid-required {
		background-color: red;
	}
	
	.uname.ng-dirty.ng-invalid-minlength {
		background-color: lightpink;
	}
</style>
</head>
<body ng-controller="MainCtrl as ctrl">
	<form ng-submit="ctrl.submit()" name="myForm">
		<input type="text" ng-model="ctrl.user.username" required name="uname" class="uname"
			ng-minlength="4"> 
			<span ng-show="myForm.uname.$error.required"> This is a
			required field </span> 
			<span ng-show="myForm.uname.$error.minlength">
			Minimum length required is 4 </span>
			 <span
			ng-show="myForm.uname.$invalid"> This field is invalid </span> 
			<input type="password"
			ng-model="ctrl.user.password" required> 
		   <input type="submit"
			value="Submit" >
			<!-- <input type="submit"
			value="Submit" ng-disabled="myForm.$invalid"> -->
	</form>
	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js">
		
	</script>
	<script type="text/javascript">
		angular.module('myApp', []).controller('MainCtrl', [ function() {
			var self = this;
			self.submit = function() {
				console.log('User clicked submit with ', self.user);
			};
		} ]);
	</script>
</body>
</html>